<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>餐廳評論網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand ml-2" href="/"><i class="fas fa-utensils mr-2 text-light"></i>餐廳評論網</a>
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {{#if user}}
        <div class="link-container mr-2">
          <div class="collapse navbar-collapse" id="navbarNav">
            <span class="text-light mr-2">Hi, {{user.email}}</span>

            <div class="dropdown ml-2" style="display: inline;">
              <a class="dropdown-toggle text-light text-decoration-none p-2 nav-button" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle mr-2"></i>{{user.name}}
              </a>
            
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a href="/users/{{user.id}}" class="dropdown-item text-secondary text-decoration-none px-3"><i class="fa-fw fas fa-user-alt mr-2"></i>Profile</a>
                {{#if user.isAdmin}}
                  <a href="/admin" class="dropdown-item text-secondary text-decoration-none px-3"><i class="fa-fw fas fa-desktop mr-2"></i>Admin 後台</a>
                {{/if}}
                <div class="dropdown-divider"></div>
                <a href="/logout" class="dropdown-item text-secondary text-decoration-none px-3"><i class="fa-fw fas fa-sign-out-alt mr-2"></i>Logout</a>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      
    </nav>
    <br/>

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          {{> message}}
          {{{body}}}
        </div>
      </div>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  <script src="/javascripts/main.js"></script>
  <script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>
</html>